@model Aplikacija.Models.Predbiljezba

@{
    ViewBag.Title = "Detalji Predbiljezbe";
}


<div>
    <br />
    <h4>Detalji predbilježbe za: <strong>@Model.Ime @Model.Prezime</strong></h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seminar.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seminar.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumPredbiljezbe)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DatumPredbiljezbe)*@
            @String.Format("{0:dd/MM/yyyy}", Model.DatumPredbiljezbe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.PredbiljezbaId }) |
    @Html.ActionLink("Povratak na listu Predbilježbi", "Index")
</p>
